@model IEnumerable<Leave_Management_System.Data.Models.LeaveRequest>
@{
    ViewData["Title"] = "Index";
}
<h1>@ViewBag.Heading</h1>
<hr />
<p>
    <a asp-action="Index" class="btn btn-secondary"> <i class="fa fa-clock" aria-hidden="true"></i>&nbspPending</a>
    <a asp-action="ApprovedRequests" class="btn btn-success"> <i class="fa fa-check-square" aria-hidden="true"></i>&nbspApproved</a>
    <a asp-action="RejectedRequests" class="btn btn-danger"> <i class="fa fa-ban" aria-hidden="true"></i>&nbspRejected</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr style="text-align: center">
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppliedOn)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reverse())
        {
            <tr style="text-align: center">
                <td>
                    @Html.DisplayName("UST")@Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppliedOn)
                </td>
                <td>
                    <div class="row justify-content-center">
                        <div class="col-2">
                            <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id" title="View">
                                <i class="fas fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>&nbsp  
                        @{
                            if (ViewBag.Status == "Pending")
                            {
                                <div class="col-2">
                                    <a asp-action="Approve" class="btn btn-success" asp-route-id="@item.Id" title="Approve">
                                        <i class="fas fa-check" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="col-2">
                                    <a asp-action="Reject" class="btn btn-danger" asp-route-id="@item.Id" title="Reject">
                                        <i class="fas fa-ban" aria-hidden="true"></i>
                                    </a>
                                </div>
                            }
                            //if (ViewBag.Status != "Rejected")
                            //{
                            //    <div class="col-2">
                            //        <a asp-action="Reject" class="btn btn-danger" asp-route-id="@item.Id" title="Reject">
                            //            <i class="fas fa-ban" aria-hidden="true"></i>
                            //        </a>
                            //    </div>
                            //}
                         }
                            @* <div class="col-2">
                            <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this record?')">
                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>*@
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
    </script>
}
