@model Leave_Management_System.Data.Models.Employee
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" asp-route-email="@ViewBag.Email">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Band" class="control-label"></label>
                <select asp-for="Band" class="form-control" id="band">
                    <option value=@Model.Band>@Model.Band</option>
                    <option value=0>A</option>
                    <option value=1>B</option>
                    <option value=2>C</option>
                </select>
                <span asp-validation-for="Band" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                Manager
                <select asp-for="ManagerId" class="form-control" id="manager">
                    <option value=@Model.ManagerId>@ViewBag.Manager</option>
                    @foreach (var manager in ViewBag.Managers)
                    {
                        <option value="@manager.Id">@manager.Name</option>
                    }
                </select>
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JoiningDate" class="control-label"></label>
                <input asp-for="JoiningDate" class="form-control" type="date" value=@Model.JoiningDate.ToString("yyyy-MM-dd") />
                <span asp-validation-for="JoiningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-success " /> <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
